body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(39, 52, 42), rgb(47, 38, 49));
    backdrop-filter: blur(50px);
    color: white;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topbar {
    display: flex;
    width: 97.9%;
    height: 60px;
    border: 2px rgba(28, 28, 28, 0.84) solid;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}

#title {
    font-weight: bolder;
    font-size: 22px;
}

#last-update {
    font-size: 12px;
    color: rgb(197, 197, 197);
}

#menu {
    font-size: 25px;
}

#container {
    display: flex;
    backdrop-filter: blur(20px);
}

#left-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px rgba(28, 28, 28, 0.84) solid;
    border-radius: 0px 20px 0px 0px;
    width: 10%;
    height: 87vh;
    vertical-align: top;
    padding: 10px;
}

.left-panel-items {
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.116);
    backdrop-filter: blur(20px);
    height: 30px;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.384);
    border-radius: 5px;
    padding: 5px;
}

.left-panel-items:hover {
    background-color: rgba(240, 248, 255, 0.32);
}

#right-panel {
    display: inline-block;
    border-radius: 20px 0px 0px 0px;
    width: 90%;
    border: 2px rgba(28, 28, 28, 0.84) solid;
    padding: 50px;
}

.todo-item {
    display: flex;
    padding: 15px 0px;
    width: 100%;
    border-bottom: 1px rgb(67, 67, 67) solid;
    font-size: 18px;
}

.check-box {
    display: block;
    position: relative;
    padding-left: 30px;
    width: 100%;
    cursor: pointer;
}

.check-box input {
    display: none;
}

.check-box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 8px;
    background-color: #93939353;
}

.check-box:hover span {
    background-color: #5e5e5e53;
}

.check-box input:checked + span {
    background-color: rgb(0, 0, 64);
}

.check-box input:checked + span::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
    #topbar {
        width: 91.5%;
    }
    .left-panel-items #today {
        content: "<ion-icon name='today-outline'></ion-icon>";
    }
}