:root {
    --primary: #001323;
    --secondary: #000700; 
    --text: aliceblue;
}

body {
    font-family: 'Trebuchet MS';
    margin: 0;
}

.first-glance {
    color: var(--text);
    background: radial-gradient(var(--primary), var(--secondary));
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
}

/* Header Styles */

#header {
    display: grid; 
    grid-template-columns: 20% 80%;
    height: 40px;
    grid-auto-flow: column;
    padding: 10px 20px;
}

/* Weather Button Styles */

#weather-btn {
    margin-right: 0px 20px;
    border-radius: 100px;
    background-color: #ffffff57;
    color: var(--text);
    border: none;
    padding: 0px 15px 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    max-width: fit-content;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    animation-name: WeatherFadeIn;
    animation-duration: 1s;
}

#weather-btn:hover {
    background-color: #6b6b6b57;
}

/* Time Elements Style */

#time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#time-weather-seperator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    margin-right: -10px;
    animation-name: SepTurn;
    animation-duration: 1s;
}

/* Weather Elements Styles */

#weather-btn img {
    max-height: 40px;
}

#weather-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}

/* Navbar Section Styles */

#navbar-sec {
    display: flex;
    justify-self: end;
}

/* Navbar buttons style */

.nav-btn {
    border-radius: 100px;
    background-color: #00070000;
    color: var(--text);
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    animation-name: NavFadeIn;
    animation-duration: 1s;
}

.nav-btn:hover {
    color: seagreen;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

/* Main Body Styles */

#container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Right side Styles */

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    line-height: 10px;
    padding-left: 20px;
    animation: FadeInLeft ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#welcome p {
    font-size: 22px;
}

/* Left Side Styles */

#anim {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    text-align: end;
    font-size: 100px;
    font-weight: bolder;
    padding-right: 50px;

}

#slash {
    display: block;
    animation-name: SlashTurn;
    transform-origin: center;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: 1;
}

/* First Section */

#first-sec {
    background-image: url(assets/pngs/h4_img10.png);
    background-repeat: no-repeat;
    background-position: 20%;
    text-align: center;
    font-size: larger;
}

#first-sec p {
    text-align: justify;
    margin: 0% 30%;
    line-height: 30px;
    margin-bottom: 15px;
}

/* Keyframes */

@keyframes SlashTurn {
    0% {
        transform: rotate(0);
    }

    30% {
        transform: rotate(70deg);
    }

    60% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes SepTurn {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes FadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes NavFadeIn {
    0% {
        opacity: 0.5;
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes WeatherFadeIn {
    0% {
        opacity: 0.5;
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}